@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$active: rgb(207, 212, 185);
$border: #ccc;
$height: 46px;
$hoverColor: #eee;
$shadow: rgba(0, 0, 0, .3);
$transition: .6s ease-in-out;
$width: 500px;

* {
  font-family: 'Roboto', sans-serif;
}

.list {
  font-size: 1rem;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  &__item {
    padding: .4rem;

    border-bottom: 1px solid $border;

    &.active {
      background-color: $active;
    }

    &:hover {
      cursor: pointer;
      transition: .15s background-color ease-in;

      background-color: $hoverColor;
    }
  }
  &__title {
    width: 100%;
    margin: 0;
    padding: .5rem 0 .5rem .1rem;

    border-bottom: 1px solid $border;
  }
  &__divider {
    width: 100%;
    height: 0;
    margin: 0;
    padding: .5rem 0 0 0;

    border-top: 1px solid $border;
  }
}

.select {
  position: relative;
  z-index: 100;

  width: 100%;

  &.open {
    .select__dropdown {
      visibility: visible;

      height: ($height) * 4;

      opacity: 1;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .select__input {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .select__backdrop {
      display: block;
    }
  }

  &.close {
    .select__dropdown {
      visibility: hidden;

      height: 0;

      opacity: 0;
      border-radius: $width * .01;
    }
  }

  &__input {
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: $height;
    padding: 0 1rem;

    cursor: pointer;
    transition: border-radius $transition;

    border: 1px solid $border;
    border-radius: $width * .01;
  }

  &__dropdown {
    position: absolute;
    top: $height;
    right: 0;
    left: 0;

    overflow-y: auto;

    max-height: $height * 4;

    transition: $transition;

    border: 1px solid $border;
    box-shadow: 2px 3px 5px $shadow;

    &_light {
      background-color: #fff;
    }
  }

  &__backdrop {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background: transparent;
  }
}

.button {
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;

  display: inline-block;

  padding: .375rem .75rem;

  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
  text-align: center;
  vertical-align: middle;

  /* Цвета кнопки*/

  color: #212529;
  color: #fff;
  border: 1px solid transparent;
  border-color: #007bff;
  border-radius: .25rem;
  background-color: transparent;
  background-color: #007bff;
  &:active {
    border-style: inset;
  }

  &_primary {
    &:hover, &:focus {
      border-color: #005cbf;
      background-color: #0062cc;
    }
    &_outline {
      color: #007bff;
      border-color: #007bff;
      background-color: transparent;
      &:hover, &:focus {
        color: #fff;
        border-color: #005cbf;
        background-color: #0062cc;
      }
    }
  }

  &_secondary {
    border-color: #545b62;
    background-color: #5a6268;
    &:hover, &:focus {
      border-color: #4e555b;
      background-color: #545b62;
    }
    &_outline {
      color: #6c757d;
      border-color: #6c757d;
      background-color: transparent;
      &:hover, &:focus {
        color: #fff;
        border-color: #6c757d;
        background-color: #6c757d;
      }
    }
  }
  &_success {
    border-color: #28a745;
    background-color: #28a745;
    &:hover, &:focus {
      border-color: #1c7430;
      background-color: #1e7e34;
    }
    &_outline {
      color: #28a745;
      border-color: #28a745;
      background-color: transparent;
      &:hover, &:focus {
        color: #fff;
        border-color: #28a745;
        background-color: #28a745;
      }
    }
  }
  &_warning {
    color: #212529;
    border-color: #ffc107;
    background-color: #ffc107;
    &:hover, &:focus {
      border-color: #c69500;
      background-color: #d39e00;
    }
    &_outline {
      color: #ffc107;
      border-color: #ffc107;
      background-color: transparent;
      &:hover, &:focus {
        color: #212529;
        border-color: #ffc107;
        background-color: #ffc107;
      }
    }
  }
  &_danger {
    border-color: #bd2130;
    background-color: #c82333;
    &:hover, &:focus {
      border-color: #b21f2d;
      background-color: #bd2130;
    }
    &_outline {
      color: #dc3545;
      border-color: #dc3545;
      background-color: transparent;
      &:hover, &:focus {
        color: #fff;
        border-color: #dc3545;
        background-color: #dc3545;
      }
    }
  }
  &_info {
    border-color: #17a2b8;
    background-color: #17a2b8;
    &:hover, &:focus {
      border-color: #10707f;
      background-color: #117a8b;
    }
    &_outline {
      color: #17a2b8;
      border-color: #17a2b8;
      background-color: transparent;
      &:hover, &:focus {
        color: #fff;
        border-color: #17a2b8;
        background-color: #17a2b8;
      }
    }
  }
  &_light {
    color: #212529;
    border-color: #f8f9fa;
    background-color: #f8f9fa;
    &:hover, &:focus {
      border-color: #d3d9df;
      background-color: #dae0e5;
    }
    &_outline {
      color: #f8f9fa;
      border-color: #f8f9fa;
      background-color: transparent;
      &:hover, &:focus {
        color: #212529;
        border-color: #f8f9fa;
        background-color: #f8f9fa;
      }
    }
  }
  &_dark {
    border-color: #343a40;
    background-color: #343a40;
    &:hover, &:focus {
      border-color: #171a1d;
      background-color: #1d2124;
    }
    &_outline {
      color: #343a40;
      border-color: #343a40;
      background-color: transparent;
      &:hover, &:focus {
        color: #fff;
        border-color: #343a40;
        background-color: #343a40;
      }
    }
  }
  &_link {
    text-decoration: none;

    color: #007bff;
    border: none;
    background-color: transparent;
    &:hover, &:focus {
      text-decoration: underline;

      color: #0056b3;
    }
  }
  /* Размеры кнопки*/
  &_xs {
    font-size: .5rem;

    padding: .175rem .35rem;
  }
  &_s {
    font-size: .7rem;

    padding: .275rem .55rem;
  }
  &_m {
    font-size: .9rem;
  }
  &_l {
    font-size: 1.3rem;
  }
  &_xl {
    font-size: 1.6rem;
  }
}
