@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
$height: 46px;
$width: 500px;
$border: #ccc;
$shadow: rgba(0, 0, 0, 0.3);
$hoverColor: #eee;
$active: rgb(207, 212, 185);

.wrap {
  width: $width;
}

.select {
  width: 100%;
  position: relative;
  z-index: 100;

  &.open {
    .select__dropdown {
      display: block;

      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    .select__input {
      border-bottom: none;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .select__backdrop {
      display: block;
    }
  }

  &__input {
    border: 1px solid $border;
    border-radius: $width * 0.01;
    height: $height;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
  }

  &__dropdown {
    display: none;
    position: absolute;
    border: 1px solid $border;
    border-radius: $width * 0.01;
    top: $height;
    left: 0;
    right: 0;
    max-height: $height * 4;
    overflow-y: auto;
    box-shadow: 2px 3px 5px $shadow;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__backdrop {
    z-index: -1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
  }
  &__item {
    padding: 0.4rem;
    border-bottom: 1px solid $border;

    &.active {
      background-color: $active;
    }

    &:hover {
      background-color: $hoverColor;
      cursor: pointer;
      transition: 0.15s background-color ease-in;
    }
  }
}
